
#image{
  background-repeat: auto;
  height: 1000px;
  background-position: 1000px;
  background-size: auto;
}

#bag{
  font-size: 50px;
}
#bag1{
  font-size: 30px;
}
body {
  margin-top : 120px;
}
.container {
  margin-bottom: 100px;
}

.card {
  margin-bottom: 40px;
  position: relative;
}

.card img {
  display: inline-block;
  margin: 0 auto;
}

/* sidebar */
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}



.remove {
  border-radius: 50%;
}
.flex  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  list-style-type: none;
}
.flex li {
  flex-grow: 1;
  padding: 0;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

/* utils */
.active {
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  body {
      margin-top : 360px;
  }
  .cart p {
      margin-top: 15px;
  } 
  .shopping-cart {
      height: 300px;
      width: 100%;
      position: fixed;
      right: 0;
      top: 60px;
  }  
}

